.stories-show-contents
  = render 'stories/show-story-header'
  = render 'stories/show-story-article'
  = render 'stories/show-story-footer'
  = render 'stories/show-company-info'
  = render 'stories/show-relative-stories'
